<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>industry info</title>
		<script type="text/javascript" src="jquery/jquery.min.js"></script>	
		<script src="js/json2.js"></script>	
	</head>
	<body>
		<script src="echarts-2.2.1/build/dist/echarts.js"></script>
  		<script src="echarts-2.2.1/build/dist/chart/line.js"></script>
  		<script src="js/compare_in_industry.js"></script>
		<h1>It works!</h1> 	
  		<div id="container" style="height: 500px; width: 100%"></div>
  		<p id="hehe">hehe</p>
	</body>
</html>
